@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .mainButton{
        @apply border-[#242424]  uppercase text-xs 
        tracking-widest text-[#aebfd3] ml-2 hover:pointer-events-auto
    }
}

::-webkit-scrollbar {
    width: 0;
}
.back{
    background-image: url('https://images.unsplash.com/photo-1641391503184-a2131018701b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fDNkJTIwcmVuZGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    
}


    @layer utilities {
        @variants responsive {
          /* Hide scrollbar for Chrome, Safari and Opera */
          .no-scrollbar::-webkit-scrollbar {
              display: none;
          }
    
          /* Hide scrollbar for IE, Edge and Firefox */
          .no-scrollbar {
              -ms-overflow-style: none;  /* IE and Edge */
              scrollbar-width: none;  /* Firefox */
          }
        }
      }
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item{
    width: 10vw;
    height: 10px;
    border-radius: 8px;
}